@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <ul>
        <li><a href="/Rsvp/">Respond S'il Vous Plait</a></li>
        <li><a href="/Dish/">Bring a dish</a></li>
    </ul>
</div>
