@model DevBuild2020_Assessment5.Models.DishForm
@{
    ViewData["Title"] = "Dish";
}

<h1>Registration Complete!</h1>
@Model.PersonName
<br />
Dish: @Model.DishName
<br />
Dish Description: @Model.DishDescription
<br />
